---
name: Python code style check with black

on: [push]

jobs:
  black:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Install apt dependencies
        run: |
          sudo apt-get update && sudo apt-get install python3 python3-pip -y
      - name: Install pip dependencies
        run: |
          pip3 install black==23.12.0
      - name: Check code style with Black
        run: |
          black --check --diff --line-length 79 .
